name: Android APK

concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.ref }}

permissions:
  contents: read

on:
  push:
    branches:
      - main

  pull_request:

  workflow_dispatch:

jobs:
  build-apk:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Setup Environment
        uses: ./.github/actions/setup

      - name: Set up JDK 17
        uses: actions/setup-java@c5195efecf7bdfc987ee8bae7a71cb8b11521c00 # v4
        with:
          distribution: temurin
          java-version: 17

      - name: Expo Prebuild
        working-directory: apps/native
        run: npx expo prebuild --platform android --clean

      - name: Build APK
        working-directory: apps/native/android
        run: ./gradlew assembleRelease

      - name: Upload APK
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
        with:
          name: solana-stack-attack.apk
          path: apps/native/android/app/build/outputs/apk/release/*.apk
          retention-days: 30
